*{font-family:monospace;margin:0;padding:0}
A{border-bottom:solid black 1px;font-weight:bold}
BODY{background-color:#FFFFE8;padding:0 1.5em 0 0.5em}
BLOCKQUOTE{padding-left:2em}
HR{margin:0.25em}
IMG{border:1px solid black}
P{padding-left:2em;text-indent:-2em;margin-top:0.2em}
PRE{background-color:wheat;padding:0 0.5em;margin:0.25em 0}
TABLE{/*padding:0 3em 0 0;*/border:none}
TR{vertical-align:top}
.anchor-x{border:none;text-decoration:none;vertical-align:bottom}
.anchor-open{border:none;text-decoration:none;vertical-align:bottom;padding:0 0.1em}
.big{font-size:120%}
.bold{font-weight:bold}
.bottom{vertical-align:bottom}
.box{border:solid black 1px;padding:0 0.25em}
.box0000{padding:0 0.25em}
.box0001{border-left:solid black 1px;padding:0 0.25em}
.box0010{border-bottom:solid black 1px;padding:0 0.25em}
.box0011{border-bottom:solid black 1px;border-left:solid black 1px;padding:0 0.25em}
.box0100{border-right:solid black 1px;padding:0 0.25em}
.box0101{border-right:solid black 1px;border-left:solid black 1px;padding:0 0.25em}
.box0110{border-right:solid black 1px;border-bottom:solid black 1px;padding:0 0.25em}
.box0111{border-right:solid black 1px;border-bottom:solid black 1px;border-left:solid black 1px;padding:0 0.25em}
.box1000{border-top:solid black 1px;padding:0 0.25em}
.box1001{border-top:solid black 1px;border-left:solid black 1px;padding:0 0.25em}
.box1010{border-top:solid black 1px;border-bottom:solid black 1px;padding:0 0.25em}
.box1011{border-top:solid black 1px;border-bottom:solid black 1px;border-left:solid black 1px;padding:0 0.25em}
.box1100{border-top:solid black 1px;border-right:solid black 1px;padding:0 0.25em}
.box1101{border-top:solid black 1px;border-right:solid black 1px;border-left:solid black 1px;padding:0 0.25em}
.box1110{border-top:solid black 1px;border-right:solid black 1px;border-bottom:solid black 1px;padding:0 0.25em}
.box1111{border:solid black 1px;padding:0 0.25em}
.center{text-align:center}
.green{color:forestgreen;border-color:forestgreen !important;font-weight:bold}
.left{text-align:left}
.middle{vertical-align:middle}
.aqua{background-color:#D5FFEA;font-weight:bold}
.yellow{background-color:#FFFF4A;font-weight:bold}
.nowrap{white-space:nowrap}
.papaya{background-color:papayawhip}
.purple{background-color:#EFDFFF}
.red{color:crimson;border-color:crimson !important;font-weight:bold}
.right{text-align:right}
.serif{font-family:serif;font-size:0.8em;line-height:0.95em;letter-spacing:0.04em}
.show{margin:-1.2em 0 0 3.5em}
.small{font-size:85%}
.super{vertical-align:super}
.top{vertical-align:top}
.underline{border-bottom:solid black 1px;line-height:1.5em}
.unnowrap{white-space:normal}
.white{background-color:#FFFFE8/*;margin:0.2em 0.2em*/}
.wheat{background-color:wheat}
.wrap{white-space:normal}
